<nav class="d-flex p-2" style="background-color: #7986CB;">

        <a class="navbar-brand text-dark" href="#" style="font-size: 30px;">Empleados</a>

        <div class="align-self-center d-none d-sm-block">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/lista">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/agregar">Añadir empleado</a>
                </li>
            </ul>
        </div>


        <button class="btn btn-outline-dark d-block d-sm-none align-self-center p-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#nav">
            M
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="nav"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header bg-light">
                <a class="navbar-brand text-dark" href="#" style="font-size: 30px;">Navbar</a>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="nav flex-column">
                    <li class="nav-item border-bottom">
                        <a class="nav-link active text-dark" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a class="nav-link text-dark" href="#">Link 1</a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a class="nav-link text-dark" href="#">Link 2</a>
                    </li>
                </ul>
            </div>
        </div>

</nav><br><br>

<router-outlet></router-outlet>


